<!DOCTYPE html>
<html lang = "en" dir = "ltr">

    <head>
        <meta charset = "utf-8">
        <title></title>
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
        />
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">

        <script   src="https://code.jquery.com/jquery-3.7.1.min.js"   integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="   crossorigin="anonymous"></script>
        

    </head>

    <body>
        <ul class = 'nav'>
            <li class = 'nav-link'>
                <a href = "{{url_for('core.index')}}" >Home</a>
            </li>

            <li class = 'nav-link'>
                <a href = "{{url_for('core.info')}}" >About</a>
            </li>

            <li class= 'nav-link'>
                <a href = "#" >Log Out</a>

            </li>

            <li class= 'nav-link'>
                <a href = "#" >Account</a>
            </li>

            <li class= 'nav-link'>
                <a href = "#" >Edit Profile</a>
            </li>

            <li class= 'nav-link'>
                <a href = "#" >Account</a>
            </li>

            <li class= 'nav-link'>
                <a href = "#" >Register</a>

            </li>

            <li class= 'nav-link'>
                <a href = "#" >Log in</a>
            </li>

        </ul>

        <div class="jumbotron">
            <h1 class="display-4">404: Page not found</h1>
          </div>

    </body>


</html>