{% extends 'main_logged_in.html' %}
{% block content %}
<!-- <h2>Your Top Artists</h2>
<ul>
  {% for artist in top_artists %}
    <li>
      <img src="{{ artist.images[0].url }}" alt="{{ artist.name }}" style="width:50px;height:50px;">
      {{ artist.name }} ({{ artist.genres | join(', ') }})
    </li>
  {% else %}
    <li>No artists found.</li>
  {% endfor %}
</ul> -->

<h1>Your Top 10 Artists</h1>
<h1> </h1>

<div class="row">
  {% for artist in top_artists %}
    <div class="col-md-4">
      <div class="card mb-4" style="width: 18rem;">
        <img src="{{ artist.images[0].url }}" class="card-img-top" alt="{{ artist.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ artist.name }}</h5>
          <p class="card-text">{{ artist.genres | join(', ') }}</p>
          <p class="card-text">Popularity: {{ artist.popularity }} / 100</p>
          <a href="{{ artist.external_urls.spotify }}" class="btn btn-primary" target="_blank">Visit Artist on Spotify</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}


