{% extends 'main_logged_in.html' %}
{% block content %}

<!-- <body>
    <h1>Welcome, {{ profile_info.display_name }}</h1>
    <p></p>
    <p>Email: {{ profile_info.email }}</p>
    <p>Country: {{ profile_info.country }}</p>
    <p>Followers: {{ profile_info.followers }}</p>
    <p>User Id: {{profile_info.id}}</p> -->
    
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{ profile_info.display_name }}</h1>
        <p class="lead">User Id: {{profile_info.id}} </p>
        <p class="lead">{{ profile_info.email }} </p>
        <hr class="my-4">
        <p>Country: {{ profile_info.country }}</p>
        <p>Followers: {{ profile_info.followers }}</p>

        <a class="btn btn-primary btn-lg" href="#" role="button">Get Top Tracks</a>
    </div>

</body>

	{% endblock %}

